.footer_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  gap: 90px;
  margin: 0 auto;
}

.footer_left, .footer_right {
    margin-top: 100px;
    margin-bottom: 18px;
}

.footer_left {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 192px;
}

.footer_section_1 {
  min-width: 118px;
}

.footer_section_2 {
    min-width: 156px;
  }

.footer_section_1 h3, .footer_section_2 h3 {
  margin-bottom: 50px;
}

.footer_section_items, .copyright, .footer blockquote {
    font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.footer_section_items li {
  margin-bottom: 20px;
}

.copyright {
    margin-top: 184px;
}

.payment_methods, .social_nets {
    width: auto;
    display: flex;
    gap: 20px;
}
.payment_methods {
    margin-top: 100px;
}

.footer_right {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 41px;
}
.footer_quote {
    display:flex;
    flex-direction: column; 
    align-items: flex-start;
    max-width: 269px;
    margin-top: 85px;
}

blockquote {
    font-style: italic;
    line-height: 136%;
}

.quote_author {
    font-family: "Open sans", sans-serif;
    font-size: 12px;
    font-weight: 100;
    max-width: 129px;
    margin-top: 20px;
    line-height: 136%;
}
.Contacts_us {
    width: 270px;
    display: flex;  
  flex-direction: column;  
  align-items: flex-end;
}

.contact_message, .contacts {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    font-weight: 100;
}

.contact_message {
    max-width: 270px;
    margin-top: 55px;
}
.logo_contacts {
    max-width: 270px;
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.logo_contacts img {
    width: 57px;
    height: 91px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

.info {
    margin-top: 15px;
}

.contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;  
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact img, .social_nets img {
    width: 20px;
    height: 20px;
}
.social_nets {
    margin-top: 50px;
}
