@media (max-width: 768px) {
  .header_container {
    max-width: 640px;
    width: 100%;
    margin: 30px 0;
  }

  .burger {
    display: flex;
  }

  .logo_desktop {
    padding-left: 243px;
    padding-right: 154px;
  }

  .logo_mobile {
    display: none;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 142px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  nav.active ul {
    display: flex;
  }

  .icon {
    gap: 50px;
  }

  .hero {
    margin-left: calc(50% - 384px);
    margin-right: calc(50% - 384px);
  }

  .text-overlay {
    padding-left: 20px;
    padding-right: 20px;
  }

  .headline_block_1 {
    max-width: 684px;
  }

  .paragraph_block_1 {
    font-size: 24px;
    font-weight: 100;
    max-width: 558px;
  }

  .quote {
    max-width: 640px;
    margin-top: 120px;
    margin-top: 135px;
  }

  .collections {
    margin: 120px 0;
  }

  .collection_items {
    flex-wrap: wrap;
    max-width: 768px;
    padding: 40px auto;
    gap: 6px;
  }

  .reviews {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    gap: 26px;
  }

  .our_tea_blog {
    padding: 0 87px;
  }

  .blog_posts {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .post:nth-child(even) {
    margin-left: 98px;
  }

  .subscribe_block_6 {
    width: 100%;
    padding: 59px 0;
    background-image: url("../images/block_6_bg_photo_768.png");
  }

  .container_block_6 {
    display: flex;
    max-width: 640px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
  }

  .container_text_6 {
    max-width: 640px;
  }

  .headline_block_6 {
    text-align: center;
  }

  .paragraph_block_6 {
    text-align: center;
  }

  .container_input_6 {
    max-width: 580px;
    width: 100%;
    justify-items: center;
  }

  .priorities_block_7 {
    margin: 120px auto;
  }

  .priorities {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: auto;
    row-gap: 30px;
    max-width: 640px;
    width: 100%;
  }

  .footer_container {
    gap: 70px;
    padding-top: 50px;
    padding-bottom: 12px;
  }

  .footer_container_top {
    max-width: 640px;
    gap: 67px;
  }

  .footer_left {
    gap: 52px;
  }


  .footer_right {
    flex-direction: column;
    gap: 50px;
  }

  .footer_quote {
    padding-top: 0;
  }

  .footer_container_bottom {
    gap: 31px;
    max-width: 500px;
    padding: 0 65px;
  }
}

@media (max-width: 480px) {
  .header_container {
    max-width: 460px;
    height: 56px;
    margin: 10px auto;
    justify-content: center;
  }

  .burger {
    display: flex;
  }

  .logo_desktop {
    display: none;
  }

  .logo_mobile {
    display: block;
    padding-left: 171px;
    padding-right: 80px;
  }

  .our_tea_blog {
    padding: 0 10px;
  }

  .blog_posts {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer_container {
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 12px;
  }

  .footer_container_top {
    flex-direction: column;
    max-width: 460px;
    gap: 50px;
  }

  .footer_left {
    gap: 133px;
  }

  .footer_right h3 {
    text-align: center;
  }
  .footer_quote {
    padding-top: 0;
    max-width: 460px;
  }

  .quote_author {
    max-width: 298px;
  }

  .contact_message {
    max-width: 460px;
    text-align: center;
    padding-top: 20px;
  }

  .logo_contacts {
    max-width: 460px;
    gap: 24px;
    padding-top: 20px;
    padding-left: 31px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29px;
  }

  .social_nets {
    margin-top: 0;
  }

  .footer_container_bottom {
    gap: 153px;
    max-width: 460px;
    padding: 0 10px;
    margin: 0;
  }
}
