.our_tea_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px 0px;
}
.blog_posts {
  max-width: 1200px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px auto;
  gap: 40px 58px;
}
.post {
  text-align: left;
  display: flex;
  gap: 20px;
}
.post_text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.post_title {
  font-weight: 100;
  max-width: 252px;
  height: 86px;
}

.post_author,
.read_more {
  font-family: "Open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
}

.post_author {
  margin-top: 10px;
}
.read_more {
  display: flex;
  justify-content: flex-start;
  margin-top: 48px;
  gap: 8px;
}

.view_all_container {
  display: flex;
  justify-content: center;
}