@import "./normalize.css";
@import "./header.css";
@import "./hero.css";
@import "./quote.css";
@import "./collections.css";
@import "./reviews.css";
@import "./our_tea_blog.css";
@import "./subscribe.css";
@import "./priorities.css";
@import "./footer.css";
@import "./media.css";

* {
    color: #151618;
    line-height: 1.21;
}

.clients_reviews, .footer {
    background-color: #f7f2ea;
  }

h2 {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 100;
}

.view_all, .paragraph_block_6, .join, ::placeholder {
    font-family: "Open sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.view_all, .join {
  padding: 12px 41px;
  border: 1px solid #151618;
  background-color: white;
  cursor: pointer;
}

.view_all:hover, .join:hover {
    border-color: #f7f2ea;
}

.icon img, nav li, .view_all, .join, .footer_section_items li, .contact, .social_nets img {
    cursor: pointer;
}